body{
    background-color: blanchedalmond;
}
.font{
    font-size: 30px;
}
.container{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    height:80vh;
}
.container1{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:0%;
}
.fonts{
    font-size: 20px;
    font-weight: 100;
    margin: 10px;
    border: 1px solid brown;
    padding:10px;
    background-color: rgb(232, 100, 100);
}
input{
    width: 80px;
    background-color: rgb(74, 77, 76);
    outline:none;
    color:blanchedalmond;
}